.q-workout-card {
    background-color: #282c34;
    color:#778899;
    padding-bottom: 1em;
    width: 25%;
    border-radius: 2%;
}

.q-workouts-container {
    width: 80%;
    margin-left: 2em;
    margin-bottom: 2em;
}